@{ 
    ViewData["Title"] = "About";
}
<div class="row">
    <article>
        <h2 class="col-sm-12">About us</h2>
        <div class="col-sm-6">
            <p>
                We educate the world on Michigan's unique culture through it's food'
            </p>
        </div>
    </article>
</div>