@{ 
    ViewData["Title"] = "Contact"; 
}
<h2>Contact info</h2>
<address class="row">
    <i class="fa fa-envelope col-sm-2" style="font-size:48px;color:green"></i>
    <div class="col-sm-8">
        1273 Rockefeller St<br />
        Traverse City, MI 49696<br />
        <abbr title="Phone">P:</abbr>
        800.867.5309
    </div>
</address>

<address>
    <strong>English:</strong> <a href="mailto:en@michiganfood.org">en@michiganfood.org</a><br>
    <strong>Español:</strong> <a href="mailto:es@michiganfood.org">es@michiganfood.org</a><br>
    <strong>Français:</strong> <a href="mailto:fr@michiganfood.org">fr@michiganfood.org</a><br>
</address>