@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about some of the food we like to eat in Michigan</p>
</div>
<div class="jumbotron" style="background-color:cadetblue;border-radius:30px;">
    <div class="row">
        <img src="~/images/vernor's.jpg" alt="can of vernor's on a table'" asp-append-version="true"
             class="float-left img-fluid col-sm-4  shadow rounded-sm" style="width:100%;" />
        <img src="~/images/supermanIceCream.jpg" alt="held plastic bowl of superman ice cream" asp-append-version="true"
             class="float-left img-fluid col-sm-4  shadow rounded-sm" style="width:100%;" />
        <img src="~/images/islandFudge.jpg" alt="held plastic bowl of superman ice cream" asp-append-version="true"
             class="float-left img-fluid col-sm-4  shadow rounded-sm" style="width:100%;" />
    </div>
</div>